### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!Week3/src/main/**/out/
!Week3/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
